@using RepoBlog.Models.BaseModels
@using RepoBlog.Models.ViewModels
@model List<BlogIndex>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Monster Blog</h2>

@foreach (BlogIndex bi in Model)
{
    <table>
        
        <tr>
            <td>
                <b>@bi.Post.Overskrift</b>
                <br/>
                @Html.Raw(bi.Post.Tekst)
            </td>
            <td>
                @if (bi.Billeder.Count > 0)
                {
                    <img src="/Content/Images/@bi.Billeder[bi.Billeder.Count-1].Filnavn"/>
                }

            </td>
        </tr>
        <tr>
            <td colspan="2"><a href="/Blog/Upload/@bi.Post.ID/">Upload</a> <a href="/Blog/Edit/@bi.Post.ID/">Rediger</a> <a href="/Blog/Delete/@bi.Post.ID/">Slet</a></td>
        </tr>
    </table>

    <hr/>
}
